* {
    padding: 0;
    margin: 0;
}
main {
    width: 900px;
    margin: auto;
}
.mb-3 {
    width: 50%;
    position: relative;
    left: 20%;
    margin: 10px;
}
.button {
    position: relative;
    left: 40%;
    margin-bottom: 20px;
    
}
.error {
    height: 100px;
    margin-top: 10px;
    height: 55px;
}
img {
    border: 1px solid rgba(0, 0, 0, 0.274);
}